.u-center-text{
    text-align: center !important;
}
.u-margin-bottom-large{
    margin-bottom: 8rem !important;
}
.u-margin-bottom-smalll{
    margin-bottom: 1.8rem !important;
}
.u-margin-bottom-mediam{
    margin-bottom: 3.2rem !important;
}
.u-margin-bottom-mediam-purple{
    margin-bottom: 3.2rem !important;
}
.u-margin-top-huge{
    margin-top: 3rem !important;
}
.img{
    padding-right: 0.5rem;
    height: 2rem;
}
.purple{
    color: white;
}